<div class="container py-5">
  <div class="row text-center text-white">
    <div class="col-lg-8 mx-auto">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item" (click)="regresarInicio()"><a style="color: #72c701 !important;"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-square" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M15 2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2zM0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm11.5 5.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
          </svg> Regresar</a></li>
          <li class="breadcrumb-item active" aria-current="page">#{{personaje.id}} - {{personaje.name}}</li>
        </ol>
      </nav>
    </div>
  </div>
</div>
<div class="container d-flex justify-content-center">
<div class="row text-center">
  <div class="col-xl-12 col-sm-6 mb-5">
    <div class="bg-white rounded shadow-sm py-5 px-4"
         placement="top" ngbTooltip="{{personaje.name}}">
      <img [src]="personaje.image" [alt]="personaje.name" width="100"
           class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
      <h5 class="mb-0">{{personaje.name}}</h5><br>
      <span class="small text-uppercase text-muted">Especie: {{personaje.species}}</span><br>
      <span class="small text-uppercase text-muted">Genero: {{personaje.gender}}</span><br>
      <span class="small text-uppercase text-muted">Origen: {{personaje.origin?.name}}</span><br>
      <span class="small text-uppercase text-muted">Estatus: {{personaje.status}}</span>
    </div>
  </div>
</div>
</div>
